/* -------------------------------------------------------------------------- */
/* Created and maintained by the Delaware Valley Regional Planning Commission */
/* Author(s): Marc Molta---------- */
/* Date Updated: January 2018 -------------------------------------------------- */
/* Version: 0.1 beta ------------------------------------------------------ */ 
/* -------------------------------------------------------------------------- */



/* ------- */
/* General */
/* ------- */
.flex-horizontal{
    display: flex;
    justify-content: space-evenly;
    align-items: space;
}
.apply{
    margin-top: 5%;
}
.accordion-controls{
    padding: 0;
    list-style-type: none;
}


/* ----------------- */
/* How To Apply Card */
/* ----------------- */
.underline{
    text-decoration: underline;
}
.text-right{
    text-align: right;
}


/* --------------- */
/* Yearly Projects */
/* --------------- */
.tcdi-yearly h2{
    padding: 9px 18px;
    font-size: 21px;
    font-weight: 700;
    color: #fff;
    background-color: #0e3243;

}
.amounts{
    flex-direction: column;
    justify-content: center;
    color: #0e3243;
}
.amounts-middle{
/*    border-left: thin solid #0e3243;
    border-right: thin solid #0e3243;
    padding: 0 3.5% 0 3.5%;*/
}
.amounts p{
    font-size: 4.5em;
    margin: 0;
}
/* fix this - it's hacky rn */
.this-year-btn{
    margin-left: 20%;
}
.btn-inactive{
    color: black;
}
.invest-header{
    justify-content: space-between;
}
.btn-active{
    background: #1b6182;
    color: #fff;
}


/* ---------- */
/* Accordions */
/* ---------- */
.accordion{
    margin-top: 5%;
    color: #0e3243;
    background-color: #eee;
    font-size: 1.1em;
    width: 100%;
    padding: 15px;
    text-align: left;
    transition: 0.4s;
    cursor: pointer;
    outline: none;
    border-bottom: thin solid #0e3243;
    border-left: medium solid #0e3243;
    border-top: none;
    border-right: none;
}
.accordion:after{
    content: '\02795';
    float: right;
}
.active, .accordion:hover{
    background-color: #ccc;
}
.active:after{
    content: '\2212';
}
.panel{
    background: #fff;
    padding: 0 18px;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}